.foms{
    
    padding: 10px;
    margin-left: 80px;
    margin-top: -600px;
    background-color: rgb(116, 110, 116);
    width: 250px;
    text-align: center;
    border-radius: 10px;
    

}
button{
    background-color: aquamarine;
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
input{width: 180px;}
textarea{width: 180px;}
label{font-size: 20px;}